* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 1117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_302 {
  width: 718px;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v13_60 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v13_58 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  overflow: hidden;
}
.v4_4 {
  width: 570px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 191px;
  left: 54px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_3 {
  width: 623px;
  color: rgba(255,208,0,1);
  position: absolute;
  top: 100px;
  left: 48px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v13_62 {
  width: 555px;
  height: 62px;
  background: rgba(255,208,0,1);
  opacity: 1;
  position: absolute;
  top: 884px;
  left: 56px;
  overflow: hidden;
}
.v13_63 {
  width: 446px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 902px;
  left: 204px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_64 {
  width: 555px;
  height: 62px;
  background: rgba(255,208,0,1);
  opacity: 1;
  position: absolute;
  top: 974px;
  left: 56px;
  overflow: hidden;
}
.v13_65 {
  width: 446px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 994px;
  left: 116px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_778 {
  width: 100%;
  height: 100%;
  background: url("../images/v13_778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 671px;
  overflow: hidden;
}
.v13_67 {
  width: 147px;
  height: 151px;
  background: url("../images/v13_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 487px;
  overflow: hidden;
}
.v13_68 {
  width: 134px;
  height: 134px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v13_93 {
  width: 147px;
  height: 151px;
  background: url("../images/v13_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 324px;
  overflow: hidden;
}
.v13_94 {
  width: 134px;
  height: 134px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v13_77 {
  width: 147px;
  height: 151px;
  background: url("../images/v13_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 683px;
  overflow: hidden;
}
.v13_78 {
  width: 134px;
  height: 134px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v6_33 {
  width: 623px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 48px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
